<div class="home-container">
  <h1 class="home-title">Zdravstveni informacioni sistem</h1>

  <div class="button-grid">

    <button mat-raised-button class="menu-btn pacijent" routerLink="/pacijent">
      <mat-icon>person</mat-icon>
      <span>Pacijenti</span>
    </button>

    <button mat-raised-button class="menu-btn bolnica" routerLink="/bolnica">
      <mat-icon>local_hospital</mat-icon>
      <span>Bolnice</span>
    </button>

    <button mat-raised-button class="menu-btn dijagnoza" routerLink="/dijagnoza">
      <mat-icon>healing</mat-icon>
      <span>Dijagnoze</span>
    </button>

    <button mat-raised-button class="menu-btn odeljenje" routerLink="/odeljenje">
      <mat-icon>account_tree</mat-icon>
      <span>Odeljenja</span>
    </button>

  </div>
</div>
